#titlediv {
    position: relative;
    padding: 1% 0 1% 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
#load_controls > *:not(.load_exclude) {
    margin: 0 2% 1% 2%;
}
#table {
    margin: 0 5% 0 5%;
    padding-top: 1%;
    height: 30em;
    position: relative;
    width: 60%;
}
#befunge_code{
    position: relative;
    border: 2px solid black;
    margin: 2% auto 0 auto;
    font-size: 1.5em;
    text-align: center;
}
#befunge_code td{
    border: 3px solid black;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
}
.empty, .control{
    background: #000000;
}
.hidden_input {
    padding: 1px;
    outline: none;
    resize: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 1.5em;
    max-height: 1.5em;
    font-size: 0.8em
}
.btn-sml{
    height: 30px;
    width: 30px;
    font-size: 0.7em;
}
#instructions {
    border-left: 1px dashed lightgray;
    border-top: 1px dashed lightgray;
    padding-left: 2%;
    position: fixed;
    font-size:1.2em;
    right: 0;
    top: 6em;
    bottom: 0;
    width: 30%;
    overflow: scroll;
}